# Workaround for xdg-desktop-portal 1.22+ requiring graphical-session.target
# which Hyprland (without uwsm) does not activate.
# See: https://github.com/flatpak/xdg-desktop-portal/issues/1983

[Unit]
Description=Portal service
PartOf=graphical-session.target
Requires=dbus.service
After=dbus.service
After=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.portal.Desktop
ExecStart=/usr/lib/xdg-desktop-portal
Slice=session.slice
