* {
background-color: alpha(black, 0.0);
font-family: "JetBrains Mono", "Fira Code", monospace;
}

.modules-left {
padding: 0px;
margin-left: 0;
border-radius:0px;
background: alpha(black,.6);
box-shadow: none;
border: 1px solid #f55858;

}

.modules-right {
margin-right: 0px;
margin-left: 0px;
border-radius: 0px;
background: alpha(black,.6);
box-shadow: none;
border: 1px solid #f55858;
}

.modules-center {
padding:5px;
border-radius:0px;
background: alpha(black,.6);
box-shadow: none;
border: 1px solid #f55858;
color: white
}

#workspaces button {
color: #ECEFF1;
all: initial;
padding: 0 8px;
min-width: 9px;
font-size: 20;
}

#workspaces button:hover {
border-bottom: 1px solid alpha(rgb(255, 255, 255),0.6);
border-radius: 0;
background-color: alpha(rgb(255, 255, 255),0.8);
}

#workspaces button.active {
color: #000000;
background: rgba(0, 0, 0, 1);
margin:0 0px;
background-color: #ffffff;
border-radius: 0;
    
}

#workspaces button.urgent {
background-color: #f37227;
margin: 0 0px;
border-radius: 0;
}

#network{
color: #ECEFF1;
margin-left: -1px;
margin-right: 9px;
font-size: 20px;
}
#clock{
font-size: 20px;
}

#network.disabled{
color: #ECEFF1;
margin-left: -1px;
margin-right: 9px;
font-size: 20px;
}

#network.disconected{
color: #ECEFF1;
margin-left: 0px;
margin-right: 5px;
font-size: 20px;
}

#network.linked{
color: #ECEFF1;
margin-left: 0px;
margin-right: 5px;
font-size: 20px;

}

#language {
margin-left: 5px;
margin-right: 5px;
color: white;
font-size: 20px;
}

#upower {
color: white;
margin-left: 0px;
margin-right: 5px;
font-size: 18px;
}


#pulseaudio {
color: #ffffff;
margin-left: 3px;
margin-right: 0px;
font-size: 18px;
}

#pulseaudio.muted {
color: #f16c6c;
font-size: 19px;
}

#custom-nots {
margin-left: 5px;
margin-right: 12px;
color: white;    
font-size: 25px;
}

tooltip {
border-radius: 4px;
background-color: #7a4141;    
}

tooltip label {
color: white;
}
