* {
font-family: "Adwaita Sans", monospace;
/* font-family: "JetBrains Mono", "Fira Code", monospace; */
font-size: 20;
border: none;
border-radius: 0;
}
window#waybar {
    background-color: alpha(black, .9);  
}

.modules-right {
margin-right: 5px;
margin-left: 0px;
box-shadow: none;
}

.modules-center {
box-shadow: none;
color: white
}

#workspaces {
margin-left: 5px;
box-shadow: none;
}

#workspaces button {
color: #ECEFF1;
all: initial;
padding-left: 10px;
padding-right: 10px;
}

#workspaces button:hover {
background: alpha(rgb(255, 255, 255),0.8);
color: #000000;
}

#workspaces button.active {
color: #FFFFFF;
background: #000000;
border: 3px solid #FFFFFF;
/* transition:0.2s ease-out; */
}

#workspaces button.urgent {
color: #FF6A00;
background: #000000;
border: 3px solid #FF6A00;

}

#cpu{
color: #ECEFF1;
margin-right: 15px;
}
#memory{
color: #ECEFF1;
margin-right: 20px;
}

#network{
color: #ECEFF1;
margin-right: 20px;
}

#network.disabled{
color: #ECEFF1;
margin-right: 20px;
}

#network.disconected{
color: #ECEFF1;
margin-right: 20px;
}

#network.linked{
color: #ECEFF1;
margin-right: 20px;
}

#language {
margin-left: 5px;
margin-right: 12px;
color: white;
}

#upower {
margin-left: -12px;
color: white;
margin-right: 12px;
}


#pulseaudio {
color: #ffffff;
margin-right: 12px;
}

#pulseaudio.muted {
color: #ffffff;
}

#custom-nots {
margin-left: 5px;
margin-right: 12px;
color: white;    
font-size: 24px;
}

tooltip {
background-color: #ffffff; 
}

tooltip label {
color: black;
font-size: 18;
}

#mpris {
padding: 5px;
margin-left: 25px;
box-shadow: none;
}


#taskbar {
padding: 0px;
margin-left: 15px;
box-shadow: none;
}


#taskbar button {
/* color: #ECEFF1; */
all: initial;
padding-left: 8px;
padding-right: 8px;
}

#taskbar button:hover {
background: alpha(rgb(255, 255, 255),0.5);
border: 1px solid alpha(black, .9);
border-radius: 20px;

}
#taskbar button.active {
background: alpha(rgb(255, 255, 255),0.5);
border: 1px solid alpha(black, .9); 
border-radius: 20px;

}

#taskbar button.urgent {
background: alpha(rgb(255, 106, 0),0.5);
border: 1px solid alpha(black, .9);  
border-radius: 20px;
}
