[Desktop Entry]
Name=Hyprpicker
Comment=Color picker for Hyprland
Exec=bash -c "~/.config/hypr/scripts/hyprpicker.sh"
Icon=color-picker
Terminal=false
Type=Utility
